---
import { Image } from "astro:assets";
import advancedSearchImageDark from "../../images/theses/dark/advanced search.png";
import alertImageDark from "../../images/theses/dark/alert.png";
import compareImageDark from "../../images/theses/dark/compare.png";
import geolocalizedSearchImageDark from "../../images/theses/dark/geolocalized.png";
import presentationImageDark from "../../images/theses/dark/presentation.png";
import advancedSearchImage from "../../images/theses/light/advanced search.png";
import alertImage from "../../images/theses/light/alert.png";
import compareImage from "../../images/theses/light/compare.png";
import geolocalizedSearchImage from "../../images/theses/light/geolocalized.png";
import presentationImage from "../../images/theses/light/presentation.png";
import { ImageColorScheme, ImageSizePreset } from "../../utils/images";
import Heading from "../../components/presentations/Heading.astro";
import DeviceFrameSection from "../../components/presentations/DeviceFrameSection.astro";
import Comments from "../../components/Comments.vue";
---

<section class="bs-theses-content bento-content">
  <Heading title="Thèses" subtitle="Recherchez, comparez, soyez alerté." />
  <Image
    class:list={[ImageSizePreset.TabletAndPhone, ImageColorScheme.Light]}
    src={presentationImage}
    alt=""
  />
  <Image
    class:list={[ImageSizePreset.TabletAndPhone, ImageColorScheme.Dark]}
    src={presentationImageDark}
    alt=""
  />
  <DeviceFrameSection>
    <div>
      <h3>Recherche localisée.</h3>
      <p>
        Vous pouvez filtrer les résultats par ville ou directement chercher les
        thèses soutenues dans une université en particulier.
      </p>
    </div>
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Light]}
      src={geolocalizedSearchImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Dark]}
      src={geolocalizedSearchImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <h3>Comparez jusqu'à 4 recherches.<br /> En simultané.</h3>
  <Image
    class:list={[ImageSizePreset.TabletAndPhone, ImageColorScheme.Light]}
    src={compareImage}
    alt=""
  />
  <Image
    class:list={[ImageSizePreset.TabletAndPhone, ImageColorScheme.Dark]}
    src={compareImageDark}
    alt=""
  />
  <DeviceFrameSection>
    <div>
      <h3>Recherche avancée.</h3>
      <p>
        En plus des filtres basés sur la localisation, vous pouvez affiner votre
        recherche en utilisant des filtres avancés tels que l'auteur, la date ou
        la manière de rechercher les mots clés.
      </p>
    </div>
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Light]}
      src={advancedSearchImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Dark]}
      src={advancedSearchImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <DeviceFrameSection placement="frameFirst">
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Light]}
      src={alertImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Dark]}
      src={alertImageDark}
      alt=""
    />
    <h3>Créez des alertes.</h3>
    <p
      data-footnote="La fonctionnalité d'alertes n'est pas terminée. Actuellement, elle envoie seulement un mail au moment de la souscription à l'alerte. "
    >
      Vous pouvez créer des alertes pour être notifié dès qu'une nouvelle thèse
      correspondant à vos critères de recherche est publiée.
    </p>
    <Comments githubIssueId={5} client:visible />
  </DeviceFrameSection>
</section>
