---
import { Image } from "astro:assets";
import syspadImage from "../../images/prochains-trains/syspad.png";
import panamImage from "../../images/prochains-trains/panam.png";
import rerScreenImage from "../../images/prochains-trains/rer.png";
import Statistics from "../../components/presentations/Statistics.astro";
import linesPodiumImage from "../../images/prochains-trains/routes.png";
import screensPodiumImage from "../../images/prochains-trains/screens.png";
import Comments from "../../components/Comments.vue";
---

<section class="header">
  <div
    class="elements"
    data-scroll
    data-scroll-from-height-vh="0"
    data-scroll-to-height-vh="200"
  >
    <h1>Écrans d'informations<br />voyageur</h1>
    <div class="merged">
      <video muted src="https://cdn1.arno.cl/2025/03/syspad.webm"></video>
      <Image class="syspad" src={syspadImage} alt="" />
    </div>
    <Image src={panamImage} alt="" class="panam" />
    <Image src={rerScreenImage} alt="" class="rerScreen" />
  </div>
  <div class="safeArea"></div>
</section>

<section></section>

<section class="statistics">
  <h3>Chiffres clés</h3>
  <Statistics
    color="#da291c"
    rows={[
      {
        number: 10,
        headline: "Écrans disponibles",
      },
      {
        number: 3300,
        headline: "Utilisateurs uniques",
      },
      {
        number: 86400,
        headline: "Reqûetes traitées par jour",
        footnote: "Selon les jours. Moyenne sur des jours à forte demande.",
      },
    ]}
  />
  <h3 style="margin-top: 20vh;" data-footnote="Données Mars 2025">
    Vos coups de <span style="color: rgb(255, 45, 85);">coeur</span>
  </h3>
  <div class="podiums">
    <Image src={linesPodiumImage} alt="" />
    <Image src={screensPodiumImage} alt="" />
  </div>
  <p>Les lignes et écrans de RER sont les plus utilisés.</p>
  <Comments githubIssueId={7} client:visible />
</section>

<script>
  const video = document.querySelector("video");
  const progressRange = [100, window.innerHeight * 1.6];

  window.addEventListener("scroll", (e) => {
    if (!video) return;
    const progress = window.scrollY / progressRange[1];
    video.currentTime = video.duration * progress;
  });
</script>

<style>
  .header {
    --small-screens-scroll-height: 0vh;
    --centered-translateY: calc(50vh - 12vw);
  }

  .elements {
    position: relative;
    height: 250vh;
    background-color: #f3edeb;
  }

  h1 {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: max-content;
    opacity: calc(0.8 - var(--progress) * 8);
    color: #3e2b25;
  }

  .merged {
    /* overflow-x: hidden; */
    position: sticky;
    height: calc(30vw);
    top: 0;
    transform-origin: bottom;
    transform: translateY(var(--centered-translateY))
      scale(min(1, calc(1.4 - var(--progress) * 0.94)));
  }

  .safeArea {
    width: 100vw;
    height: var(--centered-translateY);
    /* background-color: red; */
    background: linear-gradient(to bottom, #f3edeb, transparent);
  }

  video {
    width: 100vw;
    height: auto;
    opacity: calc(var(--progress) * 2 - 0.4);
  }

  .syspad {
    display: block;
    width: 100vw;
    height: auto;
    transform: translateY(-47vw) scale(1.135);
    opacity: calc(var(--progress) * 4 - 2);
  }

  .panam,
  .rerScreen {
    height: 25vw;
    width: auto;
    position: absolute;
    bottom: 0;
    opacity: calc(var(--progress) * 10 - 9);
  }

  .panam {
    left: 0;
    transform: translateY(calc(var(--centered-translateY) + 10%))
      translateX(-18vw);
  }

  .rerScreen {
    right: 0;
    transform: translateY(calc(var(--centered-translateY) + 10%))
      translateX(8vw);
  }

  section:not(.header) {
    padding: 10vh var(--navbar-horizontal-padding);
  }

  .podiums {
    display: flex;
    gap: 10vw;
  }

  .podiums img {
    width: 100%;
    height: auto;
  }
</style>
