---
import { Image } from "astro:assets";
import Comments from "../../components/Comments.vue";
import Video from "../../components/Video.astro";
import DeviceFrameSection from "../../components/presentations/DeviceFrameSection.astro";
import Heading from "../../components/presentations/Heading.astro";
import presentationImageDark from "../../images/wagon/dark/phones.png";
import reportImageDark from "../../images/wagon/dark/report.png";
import searchImageDark from "../../images/wagon/dark/search.png";
import presentationImage from "../../images/wagon/light/phones.png";
import reportImage from "../../images/wagon/light/report.png";
import searchImage from "../../images/wagon/light/search.png";
import { ImageColorScheme, ImageSizePreset } from "../../utils/images";
import liveJourneyVideo from "../../videos/wagon live journey.webm";
import liveJourneyPhoto from "../../videos/wagon live journey.png";
import androidImage from "../../images/wagon/light/android.png";
import androidImageDark from "../../images/wagon/dark/android.png";
import Statistics from "../../components/presentations/Statistics.astro";
import testFlightButton from "../../images/wagon/testflight button.png";
import wagonMap from "../../images/wagon/map.svg";
import detourImage from "../../images/wagon/light/detour.png";
import vehiclesNice from "../../images/wagon/vehicles nice.png";
import palmTree from "../../images/wagon/palmtree.png";
import { Display } from "../../utils/css";
import Team from "../../components/presentations/Team.astro";

const arnoCellarier = {
  firstname: "Arno",
  lastname: "Cellarier",
  role: "Chef de projet",
  roles: ["Développeur API & iOS", "Designer UX/UI", "Community manager"],
  linkedinUrl: "https://www.linkedin.com/in/arno-cellarier/",
};

const remyCellarier = {
  firstname: "Rémy",
  lastname: "Cellarier",
  role: "Designer produit",
};

const leonEdmee = {
  firstname: "Léon",
  lastname: "Edmee",
  role: "Community manager & testeur",
  linkedinUrl: "https://www.linkedin.com/in/léon-edmee/",
};

const matthieuCloet = {
  firstname: "Matthieu",
  lastname: "Cloët",
  role: "Développeur Android",
  linkedinUrl: "https://www.linkedin.com/in/matthieu-cloët-77b0631a4/",
};
---

<section class="header">
  <Heading title="Wagon" subtitle="Prendre les transports, autrement." />
  <Comments
    githubIssueId={1}
    bubbleColor={{
      darkBackground: "#FEA580",
      lightBackground: "#FEA580",
      lightBackgroundText: "black",
      darkBackgroundText: "black",
    }}
    client:visible
  />
  <div class="illustrations">
    <Image class="vehicles" src={vehiclesNice} alt="" />
    <Image class="palmtree" src={palmTree} alt="" />
  </div>
</section>

<style>
  section.header {
    padding: 20vh var(--navbar-horizontal-padding);
    padding-bottom: 0;
    background-color: #ffede6;
  }

  section.header :global(h2) {
    color: #fc4a00;
  }

  section.header .illustrations {
    display: grid;
    align-items: end;
    grid-template-columns: 6fr 1fr;
    gap: 20vw;
  }

  section.header img {
    width: 100%;
    height: auto;
  }

  section.header .palmtree {
    transform-origin: bottom right;
    transform: scale(1.9);
  }
</style>

<section class="bs-wagon-content bento-content" style="padding-top: 0">
  <DeviceFrameSection>
    <h3><small>Prochains passages,</small><br />en un coup d'œil.</h3>
    <p class:list={[Display.OnlyForScreenReader]}>
      On ouvrant Wagon, toutes les lignes à proximité et leurs départs en temps
      réel sont affichés. En cliquant sur une ligne, on accède aux horaires de
      la journée pour les différentes destinations. Enfin, en cliquant sur un
      départ, on peut consulter les horaires de passage à chaque arrêt.
    </p>
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Light]}
      src={presentationImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Dark]}
      src={presentationImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <DeviceFrameSection placement="frameFirst">
    <Video
      slot="frame"
      height="80vh"
      src={liveJourneyVideo}
      poster={liveJourneyPhoto}
    />
    <h3>
      <small>On arrive quand ?</small><br />Ouvrez l'application,<br />on vous
      dira.
    </h3>
    <p class:list={[Display.OnlyForScreenReader]}>
      Quand vous ouvrez l'application, Wagon détecte que vous êtes en mouvement
      et va chercher la ligne dans laquelle vous êtes. Si plusieurs lignes sont
      disponibles, il vous sera demandé de préciser laquelle, après ca, la liste
      des arrêts desservis et le prochain arrêt s'affichent à l'écran.
    </p>
  </DeviceFrameSection>
  <DeviceFrameSection placement="frameFirst">
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Light]}
      src={reportImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Dark]}
      src={reportImageDark}
      alt=""
    />
    <h3><small>Un imprévu ?</small><br />Dites le nous,<br />dites leur.</h3>
    <p class:list={[Display.OnlyForScreenReader]}>
      En cas de forte affluence, d'ascenseur en panne, ou encore de présence de
      pickpocket, vous pouvez signaler l'incident pour qu'il soit affiché aux
      autres utilisateurs. Les signalements sont rattachés aux arrêts où ils ont
      été renseignés.
    </p>
  </DeviceFrameSection>
  <DeviceFrameSection placement="textFirst">
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone]}
      src={detourImage}
      alt=""
    />
    <h3>Ne soyez plus surpris par les travaux.</h3>
    <p class:list={[Display.OnlyForScreenReader]}>
      En cas de travaux, les prochains arrêts non desservis seront marqués d'une
      croix.
    </p>
  </DeviceFrameSection>
  <DeviceFrameSection placement="frameFirst">
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Light]}
      src={searchImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Dark]}
      src={searchImageDark}
      alt=""
    />
    <h3><small>Vous n'êtes pas sur place ?</small><br />Cherchez l'arrêt.</h3>
    <p class:list={[Display.OnlyForScreenReader]}>
      La barre de recherche permet de trouver un arrêt et de déplacer la carte
      dessus pour consulter les horaires en temps réel.
    </p>
  </DeviceFrameSection>
  <DeviceFrameSection>
    <h3>Aussi sur Android.</h3>
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Light]}
      src={androidImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Dark]}
      src={androidImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <Statistics
    color="#00aa83"
    rows={[
      {
        number: 1297,
        headline: "abonnés sur X",
        footnote: "Données pour février 2023. X (anciennement Twitter)",
      },
      {
        number: 600,
        headline: "testeurs",
        footnote: "600 testeurs sur TestFlight. Nombre de places limité.",
      },
      { number: 55800, headline: "arrêts de bus référencés" },
    ]}
  />
  <h3 style="padding-top: 56px;">L'équipe.</h3>
  <Team people={[arnoCellarier, remyCellarier, leonEdmee, matthieuCloet]} />
</section>

<section class="getWagon">
  <h3>Obtenir Wagon</h3>
  <p
    data-footnote="Certaines régions ne prennent pas en charge certaines fonctionnalités, telles que l'affichage des perturbations trafic (liste non exhaustive)."
  >
    Wagon est disponible dans les régions suivantes : Île-de-France, Nice,
    Toulouse et Chypre (UE).
  </p>
  <Image src={wagonMap} class="map" alt="" />
  <div role="row">
    <a
      href="https://testflight.apple.com/join/M2xoL0bC"
      title="Obtenir l'application sur TestFlight"
      target="_blank"
    >
      <Image
        src={testFlightButton}
        alt="Disponible sur TestFlight"
        height={56}
        quality={100}
      />
    </a>
  </div>
  <small
    >Si l'essai via TestFlight est plein, vous pouvez m'addresser une demande
    par mail.</small
  >
  <small
    >L'application est disponible pour les iPhone XS, iPhone XR ou ultérieur
    avec iOS 17 ou plus. Egalement disponible sur Android 8+.</small
  >
</section>

<style>
  [role="row"] {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  section.getWagon {
    --content-width: calc((100vw - var(--navbar-horizontal-padding) * 2));
    position: relative;
    margin-top: 10vh;
    padding: 10vh var(--navbar-horizontal-padding);
    background-color: #00aa83;
    color: white;
  }

  section.getWagon .map {
    position: absolute;
    top: 5vh;
    right: 0;
    height: auto;
    width: calc(var(--content-width) * 0.8);
  }

  section.getWagon p,
  section.getWagon small {
    display: block;
    max-width: calc(var(--content-width) * 0.3);
  }

  section.getWagon small {
    margin-top: 20px;
  }

  section.getWagon :global(sup a) {
    color: white;
  }
</style>
