---
import { Image } from "astro:assets";
import Comments from "../../components/Comments.vue";
import Team from "../../components/presentations/Team.astro";
import Video from "../../components/Video.astro";
import DeviceFrameSection from "../../components/presentations/DeviceFrameSection.astro";
import Heading from "../../components/presentations/Heading.astro";
import historyImageDark from "../../images/msm/dark/history.png";
import localesImageDark from "../../images/msm/dark/locales.png";
import mainImageDark from "../../images/msm/dark/main.png";
import searchImageDark from "../../images/msm/dark/search.png";
import visitImageDark from "../../images/msm/dark/visit.png";
import { ImageSizePreset } from "../../utils/images";
import discoverPlacesVideoDark from "../../videos/msm discover dark.webm";

const arnoCellarier = {
  firstname: "Arno",
  lastname: "Cellarier",
  role: "Chef de projet",
  linkedinUrl: "https://www.linkedin.com/in/arno-cellarier/",
};

const yaelCoeffier = {
  firstname: "Yaël",
  lastname: "Coëffier",
  role: "Développeur & Designer",
  linkedinUrl: "https://www.linkedin.com/in/yael-coeffier/",
};

const christopherBeaurain = {
  firstname: "Christopher",
  lastname: "Beaurain",
  role: "Ancien chef de projet",
  linkedinUrl: "https://www.linkedin.com/in/christopher-beaurain-a464b0173/",
};

const clementDeSimon = {
  firstname: "Clément",
  lastname: "De Simon",
  role: "Chargé du contenu",
  linkedinUrl: "https://www.linkedin.com/in/clément-de-simon-71b632227/",
};

const gabrielFrancois = {
  firstname: "Gabriel",
  lastname: "François",
  role: "Chargé du contenu",
  linkedinUrl: "https://www.linkedin.com/in/gabriel-françois-855988222/",
};
---

<section class="bs-msm-content bento-content">
  <Heading
    title="Mont-Saint-Michel"
    subtitle="Projet en partenariat avec l'UNESCO"
  />
  <Image
    class:list={[ImageSizePreset.TabletAndPhone]}
    src={mainImageDark}
    alt=""
  />
  <h3>Notre équipe.</h3>
  <Team
    people={[
      arnoCellarier,
      yaelCoeffier,
      gabrielFrancois,
      clementDeSimon,
      christopherBeaurain,
    ]}
  />
  <div style="margin-top: 10vh;"></div>
  <Comments githubIssueId={2} client:visible />
  <DeviceFrameSection>
    <h3>Découvrez l'histoire du Mont,<br /><small>avec notre guide.</small></h3>
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet]}
      src={historyImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <h3>
    <small>Visitez le Mont,</small>
    <br />comme si vous y étiez,
    <br />sans y être.
  </h3>
  <Image
    class:list={[ImageSizePreset.TabletAndPhone]}
    src={visitImageDark}
    alt=""
  />
  <DeviceFrameSection>
    <h3>Parcourez le site,<br />depuis votre clavier.</h3>
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone]}
      src={searchImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <DeviceFrameSection placement="frameFirst">
    <Video slot="frame" height="80vh" src={discoverPlacesVideoDark} />
    <h3>
      Programmez une visite.<br />
      <small>On fait en fonction de vos horaires.</small>
    </h3>
  </DeviceFrameSection>
  <DeviceFrameSection>
    <h3>Disponible en plusieurs langues.</h3>
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet]}
      src={localesImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <!-- TODO: ajouter les membres de l'équipe -->
</section>
