---
import { Image } from "astro:assets";
import Comments from "../../components/Comments.vue";
import Video from "../../components/Video.astro";
import DeviceFrameSection from "../../components/presentations/DeviceFrameSection.astro";
import ExternalWebsiteButton from "../../components/presentations/ExternalWebsiteButton.astro";
import Heading from "../../components/presentations/Heading.astro";
import presentationImageDark from "../../images/wagon/dark/phones.png";
import reportImageDark from "../../images/wagon/dark/report.png";
import searchImageDark from "../../images/wagon/dark/search.png";
import presentationImage from "../../images/wagon/light/phones.png";
import reportImage from "../../images/wagon/light/report.png";
import searchImage from "../../images/wagon/light/search.png";
import { ImageColorScheme, ImageSizePreset } from "../../utils/images";
import liveJourneyVideo from "../../videos/wagon live journey.webm";
import Statistics from "../../components/presentations/Statistics.astro";
---

<section class="bs-wagon-content bento-content">
  <Heading title="Wagon" subtitle="Prendre les transports, autrement." />
  <Comments githubIssueId={1} client:visible />
  <DeviceFrameSection>
    <h3><small>Prochains passages,</small><br />en un coup d'œil.</h3>
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Light]}
      src={presentationImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Dark]}
      src={presentationImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <DeviceFrameSection placement="frameFirst">
    <Video slot="frame" height="80vh" src={liveJourneyVideo} />
    <h3
      data-footnote="Fonctionnalité encore en développement. Elle sera disponible via une mise à jour sur TestFlight ultérieurement."
    >
      <small>On arrive quand ?</small><br />Ouvrez l'application,<br />on vous
      dira.
    </h3>
  </DeviceFrameSection>
  <DeviceFrameSection placement="frameFirst">
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Light]}
      src={reportImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Dark]}
      src={reportImageDark}
      alt=""
    />
    <h3><small>Un imprévu ?</small><br />Dites le nous,<br />dites leur.</h3>
  </DeviceFrameSection>
  <DeviceFrameSection placement="frameFirst">
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Light]}
      src={searchImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Dark]}
      src={searchImageDark}
      alt=""
    />
    <h3><small>Vous n'êtes pas sur place ?</small><br />Cherchez l'arrêt.</h3>
  </DeviceFrameSection>
  <Statistics
    color="#00aa83"
    rows={[
      {
        number: 1297,
        headline: "abonnés sur X",
        footnote: "Données pour février 2023. X (anciennement Twitter)",
      },
      {
        number: 600,
        headline: "testeurs",
        footnote: "600 testeurs sur TestFlight. Nombre de places limité.",
      },
      { number: 55800, headline: "arrêts de bus référencés" },
    ]}
  />
  <ExternalWebsiteButton href="https://twitter.com/ridewithwagon">
    Accéder au fil Twitter
  </ExternalWebsiteButton>
</section>
