---
import { Image } from "astro:assets";
import Heading from "../../components/presentations/Heading.astro";
import ExternalWebsiteButton from "../../components/presentations/ExternalWebsiteButton.astro";
import DeviceFrameSection from "../../components/presentations/DeviceFrameSection.astro";
import Comments from "../../components/Comments.vue";
import Video from "../../components/Video.astro";
import presentationImage from "../../images/wagon/light/phones.png";
import presentationImageDark from "../../images/wagon/dark/phones.png";
import liveJourneyVideo from "../../videos/wagon live journey.mp4";
import reportImage from "../../images/wagon/light/report.png";
import reportImageDark from "../../images/wagon/dark/report.png";
import searchImage from "../../images/wagon/light/search.png";
import searchImageDark from "../../images/wagon/dark/search.png";
import { ImageSizePreset, getImageSize } from "../../utils/images";
---

<section class="bs-wagon-content bento-content">
  <Heading title="Wagon" subtitle="Prendre les transports, autrement." />
  <Comments githubIssueId={1} client:visible />
  <DeviceFrameSection>
    <h3><small>Prochains passages,</small><br />en un coup d'œil.</h3>
    <Image
      slot="rightFrame"
      class="first for-light-mode"
      style={getImageSize(ImageSizePreset.ThreePhonesOrTablet)}
      src={presentationImage}
      alt=""
    />
    <Image
      slot="rightFrame"
      class="first for-dark-mode"
      style={getImageSize(ImageSizePreset.ThreePhonesOrTablet)}
      src={presentationImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <DeviceFrameSection>
    <Video slot="leftFrame" height="80vh" src={liveJourneyVideo} />
    <h3
      data-footnote="Fonctionnalité encore en développement. Elle sera disponible via une mise à jour sur TestFlight ultérieurement."
    >
      <small>On arrive quand ?</small><br />Ouvrez l'application,<br />on vous
      dira.
    </h3>
  </DeviceFrameSection>
  <DeviceFrameSection>
    <Image
      slot="leftFrame"
      class="for-light-mode"
      style={getImageSize(ImageSizePreset.SinglePhone)}
      src={reportImage}
      alt=""
    />
    <Image
      slot="leftFrame"
      class="for-dark-mode"
      style={getImageSize(ImageSizePreset.SinglePhone)}
      src={reportImageDark}
      alt=""
    />
    <h3><small>Un imprévu ?</small><br />Dites le nous,<br />dites leur.</h3>
  </DeviceFrameSection>
  <DeviceFrameSection>
    <Image
      slot="leftFrame"
      class="for-light-mode"
      style={getImageSize(ImageSizePreset.SinglePhone)}
      src={searchImage}
      alt=""
    />
    <Image
      slot="leftFrame"
      class="for-dark-mode"
      style={getImageSize(ImageSizePreset.SinglePhone)}
      src={searchImageDark}
      alt=""
    />
    <h3><small>Vous n'êtes pas sur place ?</small><br />Cherchez l'arrêt.</h3>
  </DeviceFrameSection>
  <div role="rowgroup" class="numbers">
    <p>
      <span>1.2k</span>
      <span data-footnote="Données pour février 2023. X (anciennement Twitter)">
        abonnés sur X
      </span>
    </p>
    <p>
      <span>600</span>
      <span
        data-footnote="600 testeurs sur TestFlight. Nombre de places limité"
      >
        testeurs
      </span>
    </p>
    <p>
      <span>55.8k</span>
      <span>arrêts de bus référencés</span>
    </p>
  </div>
  <ExternalWebsiteButton href="https://twitter.com/ridewithwagon">
    Accéder au fil Twitter
  </ExternalWebsiteButton>
</section>

<style>
  .numbers span:first-child {
    color: #00aa83;
  }
</style>
