---
import type { ImageMetadata } from "astro";
import ReplayIcon from "../icons/replay_FILL0_wght200_GRAD200_opsz20.svg?raw";
import { Image } from "astro:assets";

interface Props {
  src: string;
  poster: ImageMetadata;
  height?: string;
  width?: string;
  frame?: "iPhone15" | "iPad10";
}

const { src, poster, height, width, frame = "iPhone15" } = Astro.props;
---

<phone-video style={{ "--height": height, "--width": width }} data-src={src}>
  <video muted autoplay playsinline preload="none" class:list={frame}></video>
  <Image class:list={frame} src={poster} alt="" />
  <button class="hidden">
    <span>Revoir</span>
    <Fragment set:html={ReplayIcon} />
  </button>
</phone-video>

<script>
  import { isSafariMobile } from "../utils/navigator";

  class PhoneVideo extends HTMLElement {
    constructor() {
      super();

      const video = this.querySelector("video");
      const button = this.querySelector("button");
      const isMobile = window.matchMedia("(hover: none)").matches;

      if (!video || !button) {
        throw new Error("Missing video or button element");
      }

      if (isMobile) {
        video.setAttribute("controls", "");
        video.removeAttribute("autoplay");
      }

      if (!isSafariMobile() && this.dataset.src) {
        video.src = this.dataset.src;
      }

      button.addEventListener("click", () => {
        video.currentTime = 0;
        video.play();
        button.classList.add("hidden");
      });

      video.addEventListener("ended", () => {
        button.classList.remove("hidden");
      });
    }
  }

  customElements.define("phone-video", PhoneVideo);
</script>

<style>
  phone-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .iPhone15 {
    --border-width: calc(var(--height) * 59 / 2556);
    border-radius: calc(var(--height) * 159 / 2556 + var(--border-width));
    height: var(--height);
    width: auto;
  }

  .iPad10 {
    --border-width: calc(var(--width) * 113 / 2360);
    border-radius: calc(var(--width) * 48 / 2360 + var(--border-width));
    height: auto;
    width: var(--width);
  }

  img,
  video {
    border: var(--border-width) solid black;
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #007aff;
    cursor: pointer;
  }

  button:hover {
    text-decoration: none;
  }

  button.hidden {
    visibility: hidden;
  }

  button :global(svg) {
    width: 1.5rem;
    height: 1.5rem;
    fill: #007aff;
  }

  @media (prefers-color-scheme: dark) {
    img,
    video {
      border-color: #353535;
    }
  }

  img {
    display: none;
  }

  /** Webm videos crash on Safari iOS 17. So will replace it with images. */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    @media screen and (pointer: coarse) {
      img {
        display: block;
      }

      video,
      button {
        display: none;
      }
    }
  }
</style>
