---
import { Image } from "astro:assets";
import Comments from "../components/Comments.vue";
import DeviceFrameSection from "../components/presentations/DeviceFrameSection.astro";
import Statistics from "../components/presentations/Statistics.astro";
import ExternalWebsiteButton from "../components/presentations/ExternalWebsiteButton.astro";
import Heading from "../components/presentations/Heading.astro";
import discoverImageDark from "../images/omsistuff/dark/discover.png";
import highlightsImageDark from "../images/omsistuff/dark/highlights.png";
import loginImageDark from "../images/omsistuff/dark/login.png";
import presentationImageDark from "../images/omsistuff/dark/phone ipad.png";
import reviewsImageDark from "../images/omsistuff/dark/reviews.png";
import discoverImage from "../images/omsistuff/light/discover.png";
import highlightsImage from "../images/omsistuff/light/highlights.png";
import loginImage from "../images/omsistuff/light/login.png";
import presentationImage from "../images/omsistuff/light/phone ipad.png";
import reviewsImage from "../images/omsistuff/light/reviews.png";
import { ImageColorScheme, ImageSizePreset } from "../utils/images";
---

<section class="bs-omsistuff-content bento-content">
  <Heading title="Omsistuff" subtitle="Librairie de repaints pour OMSI 2." />
  <Image
    class:list={[ImageSizePreset.TabletAndPhone, ImageColorScheme.Light]}
    src={presentationImage}
    alt=""
  />
  <Image
    class:list={[ImageSizePreset.TabletAndPhone, ImageColorScheme.Dark]}
    src={presentationImageDark}
    alt=""
  />
  <h3 style="margin-top: 20vh;">Plusieurs manières de découvrir.</h3>
  <p>
    Vous pouvez trouver des repaints via la carte du monde, les suggestions en
    page d'accueil ou les résultats de recherche Google.
  </p>
  <Image
    class:list={[ImageSizePreset.TabletAndPhone, ImageColorScheme.Light]}
    src={discoverImage}
    alt=""
  />
  <Image
    class:list={[ImageSizePreset.TabletAndPhone, ImageColorScheme.Dark]}
    src={discoverImageDark}
    alt=""
  />
  <DeviceFrameSection>
    <h3>Connexion en<br />un clic.</h3>
    <p>
      Entrez votre adresse e-mail, et recevez le lien de connexion dans votre
      boite mail.
    </p>
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Light]}
      src={loginImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.SinglePhone, ImageColorScheme.Dark]}
      src={loginImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <h3>Des vrais avis,<br /> pour vous aider à choisir.</h3>
  <DeviceFrameSection height="fitContent">
    <p>
      Notez chacun des repaints après les avoir testés, et consultez les avis.
      L'algorithme pondère les avis selon plusieurs facteurs pour faire
      ressortir les avis pertinents.
    </p>
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Light]}
      src={reviewsImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Dark]}
      src={reviewsImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <DeviceFrameSection>
    <h3>Un recap de votre année.</h3>
    <p>
      Découvrez vos temps forts de l'année et comparez avec l'année précédente.
    </p>
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Light]}
      src={highlightsImage}
      alt=""
    />
    <Image
      slot="frame"
      class:list={[ImageSizePreset.ThreePhonesOrTablet, ImageColorScheme.Dark]}
      src={highlightsImageDark}
      alt=""
    />
  </DeviceFrameSection>
  <h3 style="margin-top: 20vh; text-align: center;">Une communauté active.</h3>
  <Statistics
    color="#22a569"
    rows={[
      {
        number: 17400,
        footnote: "Données pour février 2023.",
        headline: "Visites par mois",
      },
      {
        number: 250,
        headline: "créations postées en 2023",
      },
      {
        number: 900,
        headline: "membres au total",
      },
    ]}
  />
  <br /><br />
  <Comments githubIssueId={3} client:visible />
  <ExternalWebsiteButton href="https://omsistuff.fr/?ref=arno.cl">
    Visiter le site
  </ExternalWebsiteButton>
</section>
