---
import { Image } from "astro:assets";
import Heading from "../components/presentations/Heading.astro";
import presentationImage from "../images/omsistuff/light/phone ipad.png";
import presentationImageDark from "../images/omsistuff/dark/phone ipad.png";
import discoverImage from "../images/omsistuff/light/discover.png";
import discoverImageDark from "../images/omsistuff/dark/discover.png";
import loginImage from "../images/omsistuff/light/login.png";
import loginImageDark from "../images/omsistuff/dark/login.png";
import reviewsImage from "../images/omsistuff/light/reviews.png";
import reviewsImageDark from "../images/omsistuff/dark/reviews.png";
import highlightsImage from "../images/omsistuff/light/highlights.png";
import highlightsImageDark from "../images/omsistuff/dark/highlights.png";
---

<section class="bs-omsistuff-content bento-content">
  <Heading title="Omsistuff" subtitle="Librairie de repaints pour OMSI 2." />
  <Image class="for-light-mode" src={presentationImage} alt="" />
  <Image class="for-dark-mode" src={presentationImageDark} alt="" />
  <h3 style="margin-top: 20vh;">Plusieurs manières de découvrir.</h3>
  <p>
    Vous pouvez trouver des repaints via la carte du monde, les suggestions en
    page d'accueil ou les résultats de recherche Google.
  </p>
  <Image class="for-light-mode" src={discoverImage} alt="" />
  <Image class="for-dark-mode" src={discoverImageDark} alt="" />
  <div role="rowgroup">
    <div>
      <h3>Connexion en un clic</h3>
      <p>
        Entrez votre adresse e-mail, et recevez le lien de connexion dans votre
        boite mail.
      </p>
    </div>
    <Image
      class="for-light-mode"
      style="height: 80vh; width: auto;"
      src={loginImage}
      alt=""
    />
    <Image
      class="for-dark-mode"
      style="height: 80vh; width: auto;"
      src={loginImageDark}
      alt=""
    />
  </div>
  <h3>Des vrais avis,<br /> pour vous aider à choisir.</h3>
  <div role="rowgroup" style="gap: 5vw; height: unset;">
    <p>
      Notez chacun des repaints après les avoir testés, et consultez les avis.
      L'algorithme pondère les avis selon plusieurs facteurs pour faire
      ressortir les avis pertinents.
    </p>
    <Image
      class="for-light-mode"
      style="height: auto; width: 70%;"
      src={reviewsImage}
      alt=""
    />
    <Image
      class="for-dark-mode"
      style="height: auto; width: 70%;"
      src={reviewsImageDark}
      alt=""
    />
  </div>
  <div class="poro" role="rowgroup">
    <h3>Un recap de vôtre année</h3>
    <Image class="first for-light-mode" src={highlightsImage} alt="" />
    <Image class="first for-dark-mode" src={highlightsImageDark} alt="" />
  </div>
  <h3 style="margin-top: 20vh; text-align: center;">Une communauté active</h3>
  <div role="rowgroup" class="numbers">
    <p>
      <span>17.4k</span>
      <span data-footnote="Données pour février 2023.">Visites par mois</span>
    </p>
    <p>
      <span>250</span>
      <span>créations postées en 2023</span>
    </p>
    <p>
      <span>900</span>
      <span>membres au total</span>
    </p>
  </div>
  <a
    class="button open"
    target="_blank"
    href="https://omsistuff.fr/?ref=arno.cl"
  >
    Visiter le site
  </a>
</section>

<style>
  section {
    width: 100%;
    padding: 0 var(--navbar-horizontal-padding);
  }

  h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: max(20px, 5vw);
  }

  h3 {
    font-size: max(18px, 4vw);
  }

  small {
    padding-left: 3vw;
  }

  p {
    font-size: 2vw;
    margin-bottom: 4vw;
    opacity: 0.7;
  }

  img {
    height: auto;
    width: 100%;
  }

  .first {
    height: auto;
    width: 60%;
  }

  .poro {
    height: 100vh;
    gap: 10vw;
  }

  .numbers span:first-child {
    color: #22a569;
  }

  .open {
    display: block;
    margin: 10vh auto;
  }
</style>
